/* SearchBar.module.css */
.searchContainer {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    margin-left: 2rem;
}

.searchBar {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 3px solid var(--main-bg-color);
    outline: 0;
    font-size: 1.3rem;
    color: var(--grey-color);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.searchBar::placeholder {
    color: transparent;
}

.searchBar:focus::placeholder {
    color: transparent;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.searchBar:placeholder-shown~.form__label {
    font-size: 1.2rem;
    cursor: text;
    top: 14px;
}

.searchBar:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

.searchBar:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

/* reset input */
.searchBar:required,
.searchBar:invalid {
    box-shadow: none;
}

@media (max-width: 650px) {
    .searchBar:placeholder-shown~.form__label {
        font-size: 1rem;
    }
}